<launch>
	<node pkg="mavros" type="mavros_node" name="mavros" output="screen">
		<param name="fcu_url" value="/dev/ttyTHS0:921600" />
		<!--param name="gcs_url" value="udp://@192.168.31.46" / -->
		<param name="gcs_url" value="" />
		<param name="target_system_id" value="1" />
		<param name="target_component_id" value="1" />
		<rosparam command="load" file="$(find track_demo)/config/mavros_config/px4_pluginlists_gps.yaml" />
		<rosparam command="load" file="$(find track_demo)/config/mavros_config/px4_config_gps.yaml" />
	</node>
</launch>